---
import { Image } from "astro:assets";

interface Props {
  product: Product;
}

const { product } = Astro.props;

const parsedPrice = product.price.toLocaleString("es-ar", {
  currency: "ARS",
  currencySign: "standard",
});
---

<article class="card" transition:name={product._id}>
  <a
    title={`¡Toca para ver ${product.title}!`}
    href={`/product/${encodeURIComponent(product._id)}`}
    class="card_img--container"
  >
    <Image
      src={product.image_path}
      alt={product.description}
      width={500}
      height={500}
      class="card_img"
      transition:name={`image-${product._id}`}
    />
  </a>

  <p class="card_title">
    {product.title}
  </p>

  <p class="cart_price">
    ${parsedPrice}
  </p>
</article>

<style>
  .card {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
    box-shadow: -4px 4px 8px var(--foreground);
    border-radius: 16px 0 9px 0;
    padding: 4px;
    background-image: url("/src/assets/carton-textura.avif");
    &:hover .card_img {
      animation-play-state: running;
    }
    &:hover .card_img--container {
      transform: translateY(0);
    }
  }
  .card_img--container {
    width: 100%;
    display: flex;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in;
  }
  .card_img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 4;
    object-fit: contain;
    object-position: center;
    animation: rotatePizza 90s infinite linear;
    animation-play-state: paused;
    filter: drop-shadow(0 0 8px var(--color-brand-1));
    @media (max-width: 768px) {
      animation-play-state: running;
    }
  }
  .card_title {
    font-size: 36px;
    margin-bottom: 16px;
    color: var(--color-brand-1);
  }
  .cart_price {
    font-size: 26px;
    margin-bottom: 16px;
    color: green;
  }
  @keyframes rotatePizza {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
